<manifest xmlns:android="http://schemas.android.com/apk/res/android"
  package="com.zhut.accessibility">

    <application>

        <service
            android:name=".MyAccessibilityService"
            android:enabled="true"
            android:exported="true"
            android:label="@string/label"
            android:permission="android.permission.BIND_ACCESSIBILITY_SERVICE">

            <intent-filter>
                <action android:name="android.accessibilityservice.AccessibilityService" />
            </intent-filter>

            <meta-data
                android:name="android.accessibilityservice"
                android:resource="@xml/accessibility_service_config" />

        </service>
        <meta-data
            android:name="flutterEmbedding"
            android:value="2" />
    </application>
</manifest>
